$mainDark:  rgb(58, 77, 65);
$mainLight: rgb(145, 189, 162);
$button: rgb(87, 112, 96);

.formContainer{
    padding: 50px 20px;
    max-height: 80vh;
    text-align: center;
    input{
      width: 100%;
      max-width: 400px;
      margin: 10px auto 5px auto;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 18px;
      display: block;
      box-sizing: border-box;
      border: 1px solid $mainDark;
    }
    textarea{
      width: 100%;
      max-width: 400px;
      height: 80px;
      margin: 0 auto 20px auto;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 18px;
      display: block;
      box-sizing: border-box;
      border: 1px solid darkslategray
    }
    button[type=submit]{
        width: 100%;
        max-width: 400px;
        margin-top: 40px;
        font-weight: 700;
        background-color: darkslategray;
        color: white;
        padding: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .errors{
        margin-top: 0;
        font-size: 14px;
        color: rgb(207, 29, 29);
        font-weight: 500;
    }
    .notification{
        color: rgb(207, 29, 29);
        font-weight: 500;
    }
}