$mainDark:  rgb(58, 77, 65);
$mainLight: rgb(145, 189, 162);
$button: rgb(87, 112, 96);

.sortPanel{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    .labelSort{
        display: flex;
        flex-direction: column;
    }
    .selectSort {
        width: 264px;
        border-radius: 2px;
        border: 2px solid $mainLight;
        padding: 1px;
        cursor: pointer;
        &:active{
            background-color: white;
        }
        &:focus {
            border-color: $mainLight;
            outline: none;
        }
        & option{
            background-color: white;
        }
        & option:checked{
            background-color: white;
        }
    }

    .filterButton{
        display: flex;
        gap: 4px;
        align-items: center;
    }

    input[type="checkbox"]{
        appearance: none;
        background-color: #fff;
        margin: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $mainLight;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        cursor: pointer;
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $mainLight;
          }
        &:checked::before {
            transform: scale(1);
          }
        &[disabled]{
            border: 2px solid rgb(227, 227, 227);
            cursor:default;
        }
    }
}

@media (min-width: 500px){
 .sortPanel{
    .labelSort{
        flex-direction:row;
        align-items: center;
    }
    .selectSort{
        margin-left: 4px;
    }
 }
}