
.userCard{
    width: fit-content;
    display: flex;
    gap: 5px;
    align-items: center;
    .avatar{
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }
    .username{
        font-size: 12px;
        font-weight: 600;
    }
}