@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

p, span, img, h1, h2, h3, h4{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.loading{
  margin: 30vh 20px;
  font-size: 20px;
}
